{{ define "index" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Domain Finder</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/public/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body>

    <div class="container">
      <h1>Domain Finder</h1>
      <p>Enter a keyword to generate domains and check availability</p>
      <div class="input-field">
        <input placeholder="Ex.: coffeshop..." id="word" type="text" class="validate" \>
      </div>
      <button class="btn" id="send">Send</button>

      <ul id="list" class="collection"></ul>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script type="text/javascript">
      var PusherKey = "{{ .PusherKey }}"
    </script>
    <script type="text/javascript" src="/public/script.js"></script>
  </body>
</html>
{{ end }}
